a {
    text-decoration: none;
  }

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}  

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 2px 15px;
    margin: auto;
}
.top-wrapper {
    padding-top: 20px;
    padding-bottom: 50px;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
}

.top-wrapper hi {
    font-size: 64px;
}

.top-inner {
    max-width: 1400px;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    z-index: 10;
}

.container-head01 {
    width: 54%;
    padding: 0 20px;
    z-index: 10;
}

.container-ttl {
    position: relative;
    max-width: 660px;
    padding: 62px 40px 47px;
    margin: 0 auto;
    background: rgba(255,255,255,0.8);
    border-radius: 41px;
    max-height: 600px;
}

.container-ttl h1 {
    font-size: 46px;
    margin: auto;
}

.container-ttl p {
    margin-top: 20px;
    padding: 10xp;
}

.container-head02 img {
    max-width: 100%;
    height: auto;
    width /***/: 467px;
    vertical-align: bottom;
}

/* .top-btn {
} */

.top-btn img {
    height: 93px;
    padding: 12px 45px 13px 0px;

}

.douroadbtn {
    margin: auto 0;
}

header {
    height: 150px;
    width: 255px;
    padding: 19px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 155px 155px 0;
    position: fixed;
    z-index: 30;
    top: 0;
}

.logo {
    width: 148px;
}

.discription-wrapper {
    padding: 30px;

}

.discription-container h3 {
    font-size: 36px;
    padding: 20px;
    margin: 30px auto;
}

.discription-container {
    text-align: center;
    padding: 52px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}

.discription-container p {
    font-size: 23px;
    padding: 12px 0;
}

.function-wrapper {
    height: auto;
    background-image: url(fanction_backgroud.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 77px;
}

.maincontainer {
    position: relative;
    display: flex;
    max-width: 1400px;
    background-image: url(whiterectangle.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 2px;
    /* box-sizing: border-box; */
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
}

.sectionmain {
    padding: 25px;
    /* background-image: url(info.png);
    background-repeat: no-repeat;
    background-position-y: 25%;
    background-size: 100px 86px; */
    margin: auto 33px;
    max-width: 45%;
}

.othertxt {
    font-size: 24px;
    padding-bottom: 12px;
}

.sectionmain img {
    width: 100px;
    height: auto;
}

.sectionmain h3 {
    font-size: 36px;
    padding-top: 36px;
}

.sectionmain p {
    font-size: 24px;
}

.picturecontainer01 {
    flex-grow: 1;
    padding-right: 10px;
    /* box-sizing: border-box; */
}

.function {
    flex: auto;
    width: 50%;
    padding: 0 5px;
    /* box-sizing: border-box; */
    margin: 0 auto;
    background-image: url(whitesquer.png);
    background-position: left;
    background-repeat: no-repeat;

}

.functionmain {
    padding: 25px;
    margin: auto 33px;
}

.functionmain img {
    width: 100px;
    height: auto;
}

.functionmain h3 {
    font-size: 36px;
    padding-top: 36px;
}

.functionmain p {
    font-size: 24px;
}


.other {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
}

.message-wrapper {
    height: 635px;
    background-image: url(message_backgroud.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.download-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.download-wrapper img {
    padding: 20px;
    margin: 0 auto;
}

.download {
    float: left;
    width: 50%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

footer {
    border-top: 1px solid rgba(163, 1, 111, 1);
    height: 500px;
    margin-top: 73px;
    padding-top: 62px;
}

.footer-link {
    height: 300px;
}

.footer-logo {
    padding: 28px 0;


}

.footer-left a {
    padding: 0 25px;
    display: block;
    float: left;
}

.footer-right {
    float: right;
    margin-right: 25px;
}

.footer-right a {
    display: block;
}

.link-txt {
    margin: auto;
    font-size: 24px;
    padding: 6px;
}

.sns {
    height: 65px;
    opacity: 0.9;
}

.twitter {
    color: #55acee;
}

.facabook {
    color: #3b5998;
}

.leftlogo {
    float: left;
    padding: 10px;
    width: 10%;
}

.rightlogo {
    float: right;
    padding: 10px;
    width: 12%;
}

.leftlogo img {
    height: 46px;
}

/* .rightlogo img {
    height: 48px;
} */

.footer-right img {
    padding: 30px;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

.footertxt {
    font-size: 12px;
    text-align: center;
    padding: 24px 0;
    margin: 0 auto;
    bottom: 0;
    width: 73%;;
    float: left;
}

